!!! 5
html(lang="en")
  head
    title RPG Demo
    link(rel='stylesheet', href='/css/base.css?v=#{uuid}')
    link(rel='stylesheet', href='/css/ui.css?v=#{uuid}')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='user-scalable=no, width=device-width')
  body(scroll='no')
    #main
    script(type='text/javascript', src='/js/guid.js?v=#{uuid}')
    script(type='text/javascript', src='/js/jquery.js?v=#{uuid}')
    script(type='text/javascript', src='/js/jquery.ui.js?v=#{uuid}')
    script(type='text/javascript', src='/js/jquery.loop.js?v=#{uuid}')
    script(type='text/javascript', src='/js/jquery.astar.js?v=#{uuid}')
    script(type='text/javascript', src='/js/lazyload.js?v=#{uuid}')
    script(type='text/javascript', src='/js/socketio.js?v=#{uuid}')
    script(type='text/javascript', src='/js/jade.js?v=#{uuid}')
    script(type='text/javascript', src='/js/amplify.store.js?v=#{uuid}')
    script(type='text/javascript', src='/js/history.adapter.jquery.js?v=#{uuid}')
    script(type='text/javascript', src='/js/history.js?v=#{uuid}')
    script(type='text/javascript', src='/js/web.js?v=#{uuid}')
    script(type='text/javascript', src='/js/mm.init.js?v=#{uuid}')
    script(type='text/javascript', src='/js/mm.util.js?v=#{uuid}')
    